// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spectrum {
    display: block;
    background-image: url('/assets/spectrum.png');
    height: 216px;
    width: 100%;   
}