// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spectrum {
    display: block;
    background:url('/assets/spectrum.png') center center no-repeat;
    height: 216px;
    width: 100%;
}
