// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
    background-image: url('/assets/header.png');
    width: 880px;
    margin: 0 auto;
    text-align: center;
    padding: 220px 0px 100px 0px;
}

h2, #facebook-button {
    position: relative;
    right: 20px;
}

h2 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 1.25em;
    right: 15px;
    text-shadow: 0px 1px 0px #ADB5A0 - #222;
    margin-bottom: 30px;
}
#facebook-button {
    background-image: url('/assets/fb-sprite.png');
    height: 47px;
    width: 223px;
    display: inline-block;
    text-indent: -5000px;
    &:hover {
        background-position: -225px;
    }
    &:active {
        background-position: 226px;
    }
}

#spectrum {
    display: block;
    background-image: url('/assets/spectrum.png');
    height: 216px;
    width: 100%;
    
}